
.inspiration,
.sharing {
    font-size: 1.5em;
    list-style: none;
    padding: 0;
    margin: 0;
}

.inspiration {
    margin-top: 1.75em;
    margin-bottom: 0.75em;
}

.inspiration a,
.sharing a {
    text-decoration: none;
}

.inspiration i,
.sharing i {
    margin-right: 5px;
}